.App{
    width: 70%;
    margin: auto;
    
    
}
.input-form{
   display: flex;
}

.input-form .input-text{
 flex: 9;
}
.input form .input-submit{
    flex : 1;
}
.todo-list{
    margin-top: 10px;
}
ul{
        list-style-type: none;
}
ul > li{
 
    display: flex;
    align-items: center;
    margin-top: 5px;
}
 label > input{
    margin: 3px;
}
li > label {
    
    flex: 8;
    word-wrap: break-word;
}
li > button{
    flex: 2;
    display: inline-block;
}